[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
django = "==3.0.3"
dj-database-url = "*"
djangorestframework = "*"
gunicorn = "*"
markdown = "*"
pipenv-to-requirements = "*"
psycopg2 = "*"
whitenoise = "*"
django-heroku = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
