[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==3.0.3"
flake8 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
httpie = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
pipenv-to-requirements = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
